body{
    background: #DCF2F1;
}

.nav{
    background: #0F1035;
    color: floralwhite;
    padding: 10px;
}

.nav li a{
    color: beige;
}

.nav li a:hover{
    color: #6A9AB0;
}

.video-container{
    position:absolute !important;
    z-index:-1;
    width: 100%;
    height: 100vh;
    object-fit:cover !important;
    overflow: hidden !important;
}

.button{
    background:#DCF2F1;
    width: 50%;
    margin-left:auto !important;
    margin-right:auto !important;
    border-radius:25px;
    padding: 10px;
}

.start{
    color:#0F1035;
    text-decoration: none;
    padding:0;
}

.start:hover{
    text-decoration: underline;
    cursor: pointer;
}

.header{
    color: #DCF2F1;
    background-image: linear-gradient(rgba(15, 16, 53, 1), rgba(220, 242, 241, 0.75));
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.head-container{
    position: sticky!important;
    top:10% !important;
    margin-bottom: 0px;
}

#name{
    font-family: 'Playfair Display', serif;
}

.desc-container{
    opacity: 0;
      transform: translateY(-50px); /* Start 50px above */
      animation: fadeInFromAbove 2s ease forwards; /* Animation duration and easing */
      animation-delay: 2.3s;
}

@keyframes fadeInFromAbove {
      0% {
        opacity: 0;
        transform: translateY(-50px); /* Initial position */
        font-size: 75%;
      }
      100% {
        opacity: 1;
        transform: translateY(0); /* Final position */
        font-size: 100%
      }
    }

p{
    font-family: 'Roboto', sans-serif;
    max-width: 500px;
}

.desc{
    box-shadow: 0px 10px 10px 0px 
    rgba(15, 16, 53, 0.20);
}

#start{
    height: 75px;   
}

section {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 3rem;
    background-color: #365486;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(15, 16, 53, 0.25);
    color: #DCF2F1;
}

.upper-container{
    border: 2px solid #6A9AB0;
    border-radius: 10px;
    padding: 1rem;
}

span a{
    font-size: 1rem;
    margin-bottom: 2em;
    padding-bottom: 2em;
    cursor: pointer;
    color: #DCF2F1;
    text-decoration: none;
}

span a:hover{
    text-decoration: underline;
}

.inside-container{
    border: 2px solid #6A9AB0;
    padding: 10px;
    border-radius: 10px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.skills li{
    background: #DCF2F1;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    list-style: none;
    color:#0F1035;
}

.email{
    color: #DCF2F1;
}
.contact{
    margin-top: 1rem;
    margin-bottom: 0;
}

footer{
    background:#0F1035;
    color:#DCF2F1;
    padding:1rem;
    margin-top: 2rem;
}
