body{
    background: #DCF2F1;
}

.nav{
    background: #0F1035;
    color: floralwhite;
    padding: 10px;
}

.nav li a{
    color: beige;
}

.nav li a:hover{
    color: #6A9AB0;
}

.header{
    border-bottom: 1px solid;
    color: #0F1035;
    
}

p{
    max-width: 500px;
}

.desc{
    box-shadow: 0px 10px 10px 0px 
    rgba(15, 16, 53, 0.20);
}

section {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 3rem;
    background-color: #365486;
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(15, 16, 53, 0.25);
    color: #DCF2F1;
}

span a{
    font-size: 1rem;
    margin-bottom: 2em;
    padding-bottom: 2em;
    cursor: pointer;
    color: #DCF2F1;
    text-decoration: none;
}

span a:hover{
    text-decoration: underline;
}

.inside-container{
    border: 2px solid #6A9AB0;
    padding: 10px;
    border-radius: 10px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.skills li{
    background: #DCF2F1;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    list-style: none;
    color:#0F1035;
}

.email{
    color: #DCF2F1;
}
.contact{
    margin-top: 1rem;
    margin-bottom: 0;
}

footer{
    background:#0F1035;
    color:#DCF2F1;
    padding:1rem;
    margin-top: 2rem;
}
