body{
    background: #DCF2F1;
}

.nav{
    background: #0F1035;
    color: floralwhite;
    padding: 10px;
}

.nav li a{
    color: beige;
}

.nav li a:hover{
    color: #6A9AB0;
}

.header{
    border-bottom: 1px solid;
    margin-top: 80px;
    color: #0F1035
}

p{
    max-width: 500px;
}

.desc{
    padding: 5px;
}

section {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 4rem;
    background-color: #365486;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    color: #DCF2F1;
    clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
}